.App-Header-Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a6ff;
    padding: 15px 20px;
    color: white;
    position: sticky;
    top: 0;
    /* width: 100%; */
    z-index: 1000;
}
